.btn-social {
  text-transform: none;
}

.btn-kakao {
  @apply btn;
  background-color: #fee500 !important;
  border-color: #fee500 !important;
  color: #000000;
}

.btn-kakao:hover {
  @apply btn;
  background-color: #cbb700 !important;
  border-color: #cbb700 !important;
  color: #000000;
}

.btn-naver {
  @apply btn;
  background-color: #03c75a !important;
  border-color: #03c75a !important;
  color: #ffffff;
}

.btn-naver:hover {
  @apply btn;
  background-color: #029f48 !important;
  border-color: #029f48 !important;
  color: #ffffff;
}

.btn-google {
  @apply btn;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  box-shadow: 0 0 5px rgb(0, 0, 0, 30%);
  color: #000000;
}

.btn-google:hover {
  @apply btn;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  box-shadow: 0 0 5px rgb(0, 0, 0, 50%);
  color: #000000;
}
